<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/"><strong>Yavhe BLOG</strong></a></h1>
        </div>

        <div>
            <p><em>Publicacion Agosto 2022</em></p>
            <h2><a href="">Mi primer post</a></h2>
            <p>Los algoritmos de clasificación se utilizan cuando el resultado deseado es una etiqueta discreta. </p>
        </div>

        <div>
            <p><em>Publicacion Septiembre 2022</em></p>
            <h2><a href="">Mi segundo Post</a></h2>
            <p>Análisis de grupos o agrupamiento es la tarea de agrupar objetos por similitud,.</p>
        </div>
    </body>
</html>
